/*------------
 Embed Font
------------*/
@font-face {
  src: url(../Fonts/NotoSans-Bold);
  font-family: "NotoSans";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url(../Fonts/NotoSans-BoldItalic.ttf);
  font-family: "NotoSans";
  font-weight: 700;
  font-style: italic;
}


@font-face {
  src: url(../Fonts/NotoSans-Regular.ttf);
  font-family: "NotoSans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(../Fonts/NotoSans-Italic.ttf);
  font-family: "NotoSans";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url(../Fonts/NotoSerif-Bold);
  font-family: "NotoSerif";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url(../Fonts/NotoSerif-BoldItalic.ttf);
  font-family: "NotoSerif";
  font-weight: 700;
  font-style: italic;
}


@font-face {
  src: url(../Fonts/NotoSerif-Regular.ttf);
  font-family: "NotoSerif";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url(../Fonts/NotoSerif-Italic.ttf);
  font-family: "NotoSerif";
  font-weight: 400;
  font-style: italic;
}

/*------------
 Layout
------------*/
body {
  font-family: "NotoSerif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

p {
  margin-bottom: 1em;
  text-indent: 0em;
}

/*------------
 blockquote
------------*/
blockquote {
  font-family: "NotoSans", sans-serif;
  margin-left: 2em;
  text-indent: 0em;
}

/*------------
classes
------------*/
.pali {
  font-weight: 400;
  font-style: italic;
  font-size: 1.2em;
}

.pali2 {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 0em;
  margin-bottom: 0em;
}

.english {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}

/*------------
 Title Page
------------*/
.title {
  text-align: center;
  font-size: 2em;
}

.author {
  text-align: center;
  font-size: 1.5em;
}
